.App {
  text-align: center;
  background-image: url("./images/backgrounds/basement.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
}

.door {
  position: absolute;
  bottom: 90px;
  left: 380px;
  height: 250px;
  
}

.padlock-div {
  position: absolute;
  bottom: 50px;
  left: 50px;

}

.padlock {
  position: absolute;
  bottom: 30px;
  height: 60px;
  
  
}

.padlock:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px rgb(249, 249, 78);
}

.padlock-form {
  position: absolute;
  bottom: 160px;
  left: 30px;
}

.book {
  position: absolute;
  bottom: 20px;
  left: 670px;
  height: 200px;
  
}

.key {
  position: absolute;
  bottom: 20px;
  left: 170px;
  height: 200px;
  
}

input[type="text"] {
  width: 80px;
}

.text-interface {
  outline: solid black;
  margin: 0 100px 20px 100px;
  height: 150px;
  width: 1200px;
  overflow: auto;
  background-color: black;
  color: white;
}


/* input[type="submit"] {
  width: 10px;
} */
