/* Game Screen */
.whole-screen {
  background-image: url("./images/items/tomandjerry.jpeg");
  height: 100%;
  overflow: hidden;
  cursor: url(./images/items/cursorIdle.png), auto;
  
}

.level-one {
  background-image: url("./images/backgrounds/basement_better.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
  
}
.level-two {
  background-image: url("./images/backgrounds/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
}

.level-two-trail {
  background-image: url("./images/backgrounds/kitchenWithTrail.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
}

.level-three {
  background-image: url("./images/backgrounds/garden.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
}

.level-three-trail {
  background-image: url("./images/backgrounds/gardenWithTrail.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
}

.level-zero {
  background-image: url("./images/backgrounds/circles.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 772px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
}

.game-complete {
  color: white;
  background-image: url("./images/backgrounds/circles.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 772px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
  text-align: center;
  margin: auto;
}

.bottom-ui {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  background-color: rgb(188, 110, 8);
  height: 150px;
  width: 1200px;
  border:1px solid black;
  margin: 0 100px 20px 100px;
}

.text-interface {
  outline: solid black;
  display: inline-block;
  overflow: auto;
  background-color: black;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

/* Log types to set different colours */
.inform {
  color: white;
}

.success {
  color: rgb(0, 159, 0);
}

.warning {
  color: red;
}

.pouch-item {
  color: yellow;
}

p {
  margin-bottom: -5px; /* between paragraphs */
  }

.pouch {
  outline: solid black;
  display: inline-block;
  height: 150px;
  width: 400px;

}

#down-arrow {
  height: 70px;
  position: absolute;
  bottom: 10px;
  left: 630px;
}

#arrow-forward {
  height: 70px;
  position: absolute;
  bottom: 130px;
  left: 455px;
}



#door {
  position: absolute;
  bottom: 80px;
  left: 380px;
  height: 250px;
}

.stopwatch {
  background-color: black;
  outline: solid black;
  height: 150px;
  text-align: center;
  width: 160px;
}

span {
  font-size: 60px;
  color: white;
}


 .padlock-div {
  position: absolute;
  bottom: 50px;
  left: 50px;

}

#padlock {
  position: absolute;
  bottom: 30px;
  height: 60px;
}

.padlock-form {
  position: absolute;
  bottom: 160px;
  left: 10px;
}

#book {
  position: absolute;
  bottom: 20px;
  left: 670px;
  height: 200px;  
}

#tnt {
  position: absolute;
  bottom: 0px;
  right: 100px;
  height: 100px;  
}

#detonator {
  position: absolute;
  bottom: 0px;
  right: 200px;
  height: 100px;  
}

#detonator-set {
  position: absolute;
  bottom: 30px;
  left: 290px;
  height: 100px;  
}

.item:hover {
  box-shadow: 0 0 5px rgb(249, 249, 78);
  cursor: url(./images/items/cursorPoint.png), auto;
}

#broom {
  position: absolute;
  bottom: 20px;
  left: 1080px;
  height: 250px;
}

#power-switch {
  position: absolute;
  top: 165px;
  right: 400px;
  height: 80px;
}

#tom-caged {
  position: absolute;
  top: 123px;
  right: 157px;
  height: 190px;
}

#cage {
  position: absolute;
  top: 101px;
  right: 187px;
  height: 200px;
}

#key {
  position: absolute;
  bottom: 15px;
  left: 45px;
  height: 200px;
}

#armour {
  position: absolute;
  bottom: 140px;
  left: 270px;
  height: 150px;
}

#chest {
  height: 130px;
  position: absolute;
  right: 20px;
  bottom: 0px;
}


#padlock-text {
  width: 80px;
}

#safe-text {
  width: 80px;
}

#light-1 {
  height: 130px;
  position: absolute;
  left: 470px;
  margin-left: 40px;
}
#light-2 {
  height: 150px;
  position: absolute;
  left: 570px;
  margin-left: 40px;
}
#light-3 {
  height: 130px;
  position: absolute;
  left: 670px;
  margin-left: 40px;
}

#light-switch-1 {
  height: 50px;
  position: absolute;
  top: 230px;
  left: 80px;
}
#light-switch-2 {
  height: 60px;
  position: absolute;
  top: 200px;
  right: 13px;
}
#light-switch-3 {
  height: 50px;
  position: absolute;
  top: 200px;
  right: 220px;
}

#closed-safe {
  height: 120px;
  position: absolute;
  bottom: 140px;
  left: 105px;
}

#open-safe {
  height: 170px;
  position: absolute;
  bottom: 110px;
  left: 77px;
}

#paper-1 {
  height: 30px;
  position: absolute;
  bottom: 160px;
  left: 300px;
}

#paper-2 {
  height: 30px;
  position: absolute;
  bottom: 50px;
  right: 300px;
}

#paper-3 {
  height: 30px;
  position: absolute;
  bottom: 190px;
  right: 520px;
}

#paper-4 {
  height: 30px;
  position: absolute;
  bottom: 50px;
  right: 280px;
}

#paper-5 {
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 300px;
}

#rock {
  height: 40px;
  position: absolute;
  bottom: 100px;
  left: 200px;
}


#broken-glass {
  height: 100px;
  position: absolute;
  bottom: 1px;
  right: 50px;
}

#arrow-outside {
  height: 50px;
  position: absolute;
  bottom: 340px;
  right: 100px;
}

#window-border {
  height: 160px;
  position: absolute;
  bottom: 280px;
  right: 40px;
}

#empty-bowl {
  height: 60px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#bowl-with-bone {
  height: 60px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#kennel {
  height: 200px;
  position: absolute;
  bottom: 210px;
  right: 0px;
}

.killer-guarding {
  height: 200px;
  position: absolute;
  bottom: 210px;
  right: 0px;
}

.killer-sleeping {
  height: 300px;
  position: absolute;
  bottom: 195px;
  right: -140px;
}

#hole-undug {
  height: 70px;
  position: absolute;
  bottom: 180px;
  left: 25px;
}

#hole-dug {
  height: 120px;
  position: absolute;
  bottom: 180px;
  left: 0px;
}

#radio-one {
  height: 60px;
  position: absolute;
  bottom: 314px;
  right: 396px;
}

.safe-form {
  position: absolute;
  bottom: 270px;
  left: 90px;
}

#shovel {
  height: 110px;
  position: absolute;
  bottom: 80px;
  left: 151px;
}

#play-button {
  height: 100px;
  bottom: 250px;
  width: 700px;
  left: 250px;
  position: absolute;
}

.logo {
  height: 200px;
  width: 700px;
  position: absolute;
  bottom: 400px;
  left: 250px;
}

#title-logo {
  height: 100px;
  bottom: 250px;
  width: 500px;
  left: 350px;
  position: absolute;
}

#or-link-to {
  height: 35px;
  bottom: 120px;
  width: 190px;
  left: 507px;
  position: absolute;
}

#album {
  height: 70px;
  bottom: 55px;
  width: 300px;
  left: 450px;
  position: absolute;
}

#cigar-photo {
  height: 50px;
  position: absolute;
  top: 170px;
  right: 260px;
}

#tape {
  height: 20px;
  position: absolute;
  top: 160px;
  right: 335px;
}

#tape2 {
  height: 20px;
  position: absolute;
  top: 160px;
  right: 250px;
}

#chest-key {
  height: 40px;
  position: absolute;
  top: 210px;
  left: 430px;
}

#bone {
  height: 30px;
  position: absolute;
  bottom: 170px;
  left: 30px;
}

#timer-logo {
  height: 60px;
  position: relative;
  bottom: 65px;
  left: 10px;
}

.game-complete-message {
  font-size: 30px;
  font-family: "Marker Felt";
  position: relative;
  top: 180px;
}

/* #submit-name {
  width: 200px;
} */


.name-box {
  padding: 0;
  margin-right: 30px;
  width: 130px;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, .15);
  background-color: white;
  font-size: 16px;
}

.button-18 {
  align-items: center;
  background-color: red;
  border: 1px solid white;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}