/* Game Screen */
.whole-screen {
  background-image: url("./images/items/tomandjerry.jpeg");
  height: 100%;
  overflow: hidden;
  cursor: url(./images/items/cursorIdle.png), auto;
  
}

.level-one {
  background-image: url("./images/backgrounds/basement_better.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
  
}
.level-two {
  background-image: url("./images/backgrounds/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  width: 1200px;
  outline: solid black;
  margin: 0 100px 0 100px;
  position: relative;
}

.bottom-ui {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  background-color: rgb(188, 110, 8);
  height: 150px;
  width: 1200px;
  border:1px solid black;
  margin: 0 100px 20px 100px;
}

.text-interface {
  outline: solid black;
  display: inline-block;
  overflow: auto;
  background-color: black;
  color: white;
}

/* Log types to set different colours */
.inform {
  color: white;
}

.success {
  color: rgb(0, 159, 0);
}

.warning {
  color: red;
}

.pouch-item {
  color: yellow;
}

p {
  margin-bottom: -5px; /* between paragraphs */
  }

.pouch {
  outline: solid black;
  display: inline-block;
  height: 150px;
  width: 400px;

}

#down-arrow {
  height: 70px;
  position: absolute;
  bottom: 10px;
  left: 630px;
}

#arrow-forward {
  height: 70px;
  position: absolute;
  bottom: 130px;
  left: 455px;
}



#door {
  position: absolute;
  bottom: 80px;
  left: 380px;
  height: 250px;
}

.stopwatch {
  background-color: white;
  position: absolute;
  width: 100px;
  padding: 2px;
  right: 150px;
  top: 10px;
  z-index: 1;
  font-size: 50px;
}

.stopwatch-title {
  background-color: white;
  position: absolute;
  right: 150px;
  top: 65px;
  z-index: 1;
  font-size: 23px;
  width: 100px;
  padding: 2px;
}

.padlock-div {
  position: absolute;
  bottom: 50px;
  left: 50px;

}

#padlock {
  position: absolute;
  bottom: 30px;
  height: 60px;
}

.padlock-form {
  position: absolute;
  bottom: 160px;
  left: 30px;
}

#book {
  position: absolute;
  bottom: 20px;
  left: 670px;
  height: 200px;  
}

.item:hover {
  box-shadow: 0 0 5px rgb(249, 249, 78);
  cursor: url(./images/items/cursorPoint.png), auto;
}

#broom {
  position: absolute;
  bottom: 20px;
  left: 1080px;
  height: 250px;
}

#power-switch {
  position: absolute;
  top: 165px;
  right: 400px;
  height: 80px;
}


#key {
  position: absolute;
  bottom: 15px;
  left: 45px;
  height: 200px;
}

#armour {
  position: absolute;
  bottom: 140px;
  left: 270px;
  height: 150px;
}

input[type="text"] {
  width: 80px;
}



#light-1 {
  height: 130px;
  position: absolute;
  left: 470px;
  margin-left: 40px;
}
#light-2 {
  height: 150px;
  position: absolute;
  left: 570px;
  margin-left: 40px;
}
#light-3 {
  height: 130px;
  position: absolute;
  left: 670px;
  margin-left: 40px;
}

#light-switch-1 {
  height: 50px;
  position: absolute;
  top: 230px;
  left: 80px;
}
#light-switch-2 {
  height: 60px;
  position: absolute;
  top: 200px;
  right: 13px;
}
#light-switch-3 {
  height: 50px;
  position: absolute;
  top: 200px;
  right: 220px;
}

#safe {
  height: 90px;
  position: absolute;
  bottom: 160px;
  left: 120px;
}

#paper-1 {
  height: 30px;
  position: absolute;
  bottom: 160px;
  left: 300px;
}

#paper-2 {
  height: 30px;
  position: absolute;
  bottom: 50px;
  right: 300px;
}

#paper-3 {
  height: 30px;
  position: absolute;
  bottom: 190px;
  right: 520px;
}

#paper-4 {
  height: 30px;
  position: absolute;
  bottom: 50px;
  right: 80px;
}

#paper-5 {
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 300px;
}

